
body
{
    margin: 0;
}
.HeaderContainer
{
    background-color: black;
    height: 70px;
    width: 100%;
}
#login
{
    
    position: absolute;
    height: 40px;
    top:10px;
    /* top:45%;
    transform:translate(-80px, -50%);
    
    left:100%;
    
    width:70px; */
    right:10px;
    width: 70px;
    background-color: #db42e3;
    border-radius: 5px;
    border: #db42e3;
    box-shadow: 0px 5px purple;
}
#login:hover
{
    cursor: pointer;
    box-shadow: 0px 2px purple;
    transform:translate(0, 3px);
}

#register
{
    position: absolute;
    height: 40px;
    top:10px;
    /* top:45%;
    transform:translate(-80px, -50%);
    
    left:100%;
    
    width:70px; */
    right:90px;
    width: 70px;
    background-color: #db42e3;
    border-radius: 5px;
    border: #db42e3;
    box-shadow: 0px 5px purple;
}

#register:hover
{
    cursor: pointer;
    box-shadow: 0px 2px purple;
    transform:translate(0, 3px);
}

#loginContainter
{
    padding: 5px;
    position: absolute;
    top: 70px;
    right:0px;
    width:180px;
    height:150px;
    background-color: #19161a;
    color:white;
    display: none;
}

.loginBut
{
    background-color: #db42e3;
    border-radius: 5px;
    border: #db42e3;
    box-shadow: 0px 5px purple;
    width:50px;
    height: 25px;
    position: absolute;
    bottom: 20px;
}
.loginBut:hover
{
    
    box-shadow: 0px 2px purple;
    transform:translate(0, 3px);
}

#username
{
    border-radius: 5px;
    background-color: #db42e3;
    border: #db42e3;
    width:150px;
    height: 65px;

    
    
}
#userDisplay
{
    display: none;
    position: absolute;
    right:10px;
    top:2.5px;
}
#username:hover
{
    border: #8f2b94;
    background-color: #8f2b94;
    
}

#userInfoDisplay
{
    width: 200px;
    height: 100px;
    position: absolute;
    right: 0%;
    background-color:#19161a;
    padding-left: 10px;
}